@using Bufter.Models
@using Bufter.Helpers
@model IEnumerable<Log>
@{
	ViewData["Title"] = "Log";
}

@if (@Html.IsLogged())
{
	<div class="row" id="log">
		<table class="table table-striped table-hover" data-toggle="table" data-search="true" data-paggination="true" data-show-columns="true" data-pagination="true">
			<thead>
				<tr>
					<th scope="col" data-sortable="true">Id</th>
					<th scope="col" data-sortable="true">Name</th>
					<th scope="col" data-sortable="true">Description</th>
					<th scope="col" data-sortable="true">Created</th>
					<th scope="col" data-sortable="true">IpAddress</th>
					<th scope="col" data-sortable="true">PcName</th>
					<th scope="col" data-sortable="true">UserAgent</th>
					<th scope="col" data-sortable="true">UniKey</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				@foreach (Log log in Model)
				{
					<tr>
						<th scope="row">@log.Id</th>
						<td>@log.Name</td>
						<td>@log.Description</td>
						<td>@log.Created</td>
						<td>@log.IpAddress</td>
						<td>@log.PcName</td>
						<td>@log.UserAgent</td>
						<td>@log.UniKey</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div class="row justify-content-md-center text-center" id="log">
		<div class="col-6">
			<h1>You don't have permision for this action.</h1>
			<h1>Please Log in</h1>
			<a class="btn btn-primary" role="button" asp-controller="Login" asp-action="Index">Log in</a>
		</div>
	</div>
}