@using Bufter.Models
@model IEnumerable<Room>
@{
	ViewData["Title"] = "Manage Room";
}

<div class="row">
	<div class="col-md-8 text-center p-4">
		<div class="row">
			@foreach (Room room in Model)
			{
				<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
					<div class="card">
						<div class="h-8vw">
							@if (@room.Image != "")
							{
								<img src="~/uploads/@room.Image" alt="@room.Image" class="card-img-top img-letter">
							}
							else
							{
								<p class="mb-0 fs-5vw">@room.Name[0]</p>
							}
						</div>
						<div class="card-body">
							<h5 class="card-title">@room.Name</h5>
							<p class="card-text">@room.Description<br></p>
							<a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" data-bs-id="@room.Id" data-bs-name="@room.Name" data-bs-description="@room.Description" data-bs-image="@room.Image">Edit</a>
							<a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@room.Id" data-bs-name="@room.Name">Delete</a>
							<span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Created: @room.Created, Updated: @room.Updated">
								<svg width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
									<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
								</svg>
							</span>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="row">
			<a class="btn btn-primary col-3 mx-auto" data-bs-toggle="modal" data-bs-target="#createModal">Create</a>
		</div>
	</div>

	<div class="col-md-4 p-4 mt-4">
		<div class="btn-group-vertical w-100">
			<a class="btn btn-primary active" role="button" asp-controller="Manage" asp-action="ManageRoom">Room</a>
			<a class="btn btn-primary" role="button" asp-controller="Manage" asp-action="ManagePerson">Person</a>
			<a class="btn btn-primary" role="button" asp-controller="Manage" asp-action="ManageItem">Item</a>
		</div>
	</div>
</div>



<div class="modal fade" id="createModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-controller="Manage" asp-action="CreateRoom" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
				<div class="modal-header">
					<h5 class="modal-title">Create Room</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row align-items-center">
						<label for="NameCreateModal" class="col-sm-3 col-form-label text-end">Name*</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="NameCreateModal" name="Name" required>
							<div class="invalid-feedback">
								Please provide a valid name.
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<label for="DescriptionCreateModal" class="col-sm-3 col-form-label text-end">Description</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="DescriptionCreateModal" name="Description">
						</div>
					</div>
					<div class="row align-items-center">
						<label for="ImageCreateModal" class="col-sm-3 col-form-label text-end">Image</label>
						<div class="col-sm-9">
							<input class="form-control" type="file" id="ImageCreateModal" name="Image">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-controller="Manage" asp-action="EditRoom" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
				<div class="modal-header">
					<h5 class="modal-title">Edit Room</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row align-items-center">
						<label for="NameEditModal" class="col-sm-3 col-form-label text-end">Name*</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="NameEditModal" name="Name" required>
							<div class="invalid-feedback">
								Please provide a valid name.
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<label for="DescriptionEditModal" class="col-sm-3 col-form-label text-end">Description</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" id="DescriptionEditModal" name="Description">
						</div>
					</div>
					<div class="row align-items-center">
						<label for="ImageEditModal" class="col-sm-3 col-form-label text-end">Image</label>
						<div class="col-sm-9">
							<input class="form-control" type="file" id="ImageEditModal" name="Image" accept="image/png, image/jpeg">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<input class="form-control" type="hidden" id="IdEditModal" Name="Id">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Delete Room</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Delete Room?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<form asp-controller="Manage" asp-action="DeleteRoom" method="post">
					<input class="form-control" type="hidden" id="IdDeleteModal" Name="Id">
					<button type="submit" class="btn btn-primary">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>