@using Bufter.Model
@model Tuple<IEnumerable<Item>, string, string>
@{
	ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-8 text-center p-4">
		<div class="row">
			@foreach (Item item in Model.Item1)
			{
				<div class="col-3 p-2">
					<a asp-controller="Home" asp-action="Order" asp-route-Room="@Model.Item2" asp-route-Person="@Model.Item3" asp-route-Item="@item.Name">
						<div class="card" onclick="">
							<div class="card-body">
								<h5 class="card-title">@item.Name</h5>
							</div>
						</div>
					</a>
				</div>
			}
		</div>

	</div>

	<div class="col-4 p-4 mt-4 d-grid">
		<div class="btn-group-vertical">
			<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Room">Room: @Model.Item2</a>
			<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Person" asp-route-Room="@Model.Item2">Person: @Model.Item3</a>
			<a class="btn btn-primary active" role="button" asp-controller="Home" asp-action="Item">Item</a>
		</div>
	</div>
</div>

