@using Bufter.Models
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@model Tuple<IEnumerable<Room>, IEnumerable<Person>>
@{
	ViewData["Title"] = "Home";

	var room = Context.Request.Query["Room"];
	if (Context.Request.Query["Room"].Count() == 0)
	{
		room = context.HttpContext.Request.Cookies["Room"];
	}

	ViewData["NavText"] = room;
}

<div class="row">
	<div class="col-md-8 text-center p-4">
		<div class="row">
			@foreach (Person person in Model.Item2)
			{
				<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
					<a asp-controller="Home" asp-action="Item" asp-route-Room="@room" asp-route-Person="@person.Name" class="text-decoration-none text-black">
						<div class="card">
							<div class="h-8vw">
								@if (@person.Image != "")
								{
									<img src="~/uploads/@person.Image" alt="@person.Image" class="card-img-top img-letter">
								}
								else
								{
									<p class="mb-0 fs-5vw">@person.Name[0]</p>
								}
							</div>
							<div class="card-body">
								<h5 class="card-title">@person.Name</h5>
								<p class="card-text"><b>Bill: @person.Bill€</b></p>
							</div>
						</div>
					</a>
				</div>
			}
		</div>

	</div>

	<div class="col-md-4 p-4 mt-4">
		<div class="btn-group-vertical w-100">
			<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Room">Room: @room</a>
			<a class="btn btn-primary active" role="button" asp-controller="Home" asp-action="Person" asp-route-Room="@room">Person</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Item">Item</a>
		</div>
	</div>
</div>

