@using Bufter.Model
@model IEnumerable<Room>
@{
	ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-md-8 text-center p-4">
		<div class="row">
			@foreach (Room room in Model)
			{
				<div class="col-md-3 p-2">
					<a asp-controller="Home" asp-action="Person" asp-route-Room="@room.Name" class="text-decoration-none text-black">
						<div class="card">
							@if (@room.Image != "")
							{
								<img src="~/uploads/@room.Image" class="card-img-top">
							}
							else
							{
								<div class="mx-auto">
									<svg width="40%" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
										<text x="23%" y="80%" font-size="0.8em">@room.Name[0]</text>
									</svg>
								</div>
							}
							<div class="card-body">
								<h5 class="card-title">@room.Name</h5>
								<p class="card-text">@room.Description</p>
							</div>
						</div>
					</a>
				</div>
			}
		</div>

	</div>

	<div class="col-md-4 p-4 mt-4">
		<div class="btn-group-vertical" style="width: 100%">
			<a class="btn btn-primary active" role="button" asp-controller="Home" asp-action="Room">Room</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Person">Person</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Item">Item</a>
		</div>
	</div>
</div>

