@using Bufter.Model
@model IEnumerable<Room>
@{
	ViewData["Title"] = "Home";
}

<div class="row">
	<div class="col-md-8 text-center p-4">
		<div class="row">
			@foreach (Room room in Model)
			{
				<div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2">
					<a asp-controller="Home" asp-action="Person" asp-route-Room="@room.Name" class="text-decoration-none text-black">
						<div class="card">
							<div class="h-8vw">
								@if (@room.Image != "")
								{
									<img src="~/uploads/@room.Image" alt="@room.Image" class="card-img-top img-letter">
								}
								else
								{
									<p class="mb-0 fs-5vw">@room.Name[0]</p>
								}
							</div>
							<div class="card-body">
								<h5 class="card-title">@room.Name</h5>
								<p class="card-text">@room.Description<br></p>
							</div>
						</div>
					</a>
				</div>
			}
		</div>

	</div>

	<div class="col-md-4 p-4 mt-4">
		<div class="btn-group-vertical w-100">
			<a class="btn btn-primary active" role="button" asp-controller="Home" asp-action="Room">Room</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Person">Person</a>
			<a class="btn btn-primary disabled" role="button" asp-controller="Home" asp-action="Item">Item</a>
		</div>
	</div>
</div>

