@using Bufter.Helpers
@using Microsoft.AspNetCore.Html
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Bufter</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Bufter.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>
	<header>
		<nav class="navbar fixed-top navbar-expand-sm bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bufter</a>
				<div class="d-block d-sm-none">
					<b>@ViewData["NavText"]</b>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item text-center">
							<a class="nav-link @Html.IsSelected(controller: "Home")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
					</ul>
					<ul class="navbar-nav mb-2 mb-lg-0 d-none d-sm-block">
						<li class="text-center">
							<b>@ViewData["NavText"]</b>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item text-center">
							<a class="nav-link @Html.IsSelected(controller: "Manage")" asp-area="" asp-controller="Manage" asp-action="Index">Manage</a>
						</li>
						<li class="nav-item text-center">
							<a class="nav-link @Html.IsSelected(controller: "Settings")" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="container-fluid mt-5 main-container">
		<main role="main" class="pb-3">
			@if (@Html.IsLogged())
			{
				<div class="row">
					<div class="sidebar col-md-2 bg-light mt-2 pt-2">
						<ul class="nav nav-pills flex-column mb-auto">
							<li class="nav-item">
								<a class="nav-link @Html.IsSelected(controller: "User")" asp-area="" asp-controller="User" asp-action="Index">
									<svg width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
										<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
									</svg>
									Users
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-bs-toggle="collapse" href="#collapse-log" role="button" aria-expanded="false" aria-controls="collapse-log">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
										<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
									</svg>
									Log
								</a>
							</li>
							<li class="collapse @Html.IsSelected(controllers: new string[] {"Log"}, actions: new string[] {"BuyLog", "Log"}, cssClass: "show")" id="collapse-log">
								<ul class="nav nav-pills flex-column mb-auto">
									<li class="nav-item">
										<a class="nav-link ps-5 @Html.IsSelected(controller: "Log", action: "BuyLog")" asp-area="" asp-controller="Log" asp-action="BuyLog">
											<svg width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
												<path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
											</svg>
											Buy Log
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link ps-5 @Html.IsSelected(controller: "Log", action: "Log")" asp-area="" asp-controller="Log" asp-action="Log">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
												<path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
											</svg>
											Log
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link @Html.IsSelected(controller: "Chart")" asp-area="" asp-controller="Chart" asp-action="Index">
									<svg width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
									</svg>
									Chart
								</a>
							</li>
						</ul>
						<hr />
						<ul class="nav nav-pills flex-column">
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Login" asp-action="LogOut">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
										<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
									</svg>
									Log Out
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" href="#">
									<b>@Context.User.Identity.Name</b>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-10 mt-2">
						@RenderBody()
					</div>
				</div>
			}
			else
			{
				@RenderBody()
			}
		</main>
	</div>

	<div class="container-fluid">
		<footer class="border-top pt-2">
			<p class="text-center text-muted">&copy; 2022 - Bufter - Created by Branko Záchemský for <a href="https://www.mts.sk" target="_blank" class="link-primary">MTS</a></p>
		</footer>
	</div>

	<div>
		<svg class="d-none">
			<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
			</symbol>
			<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
			</symbol>
			<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
			</symbol>
		</svg>

		<div class="position-fixed bottom-0 end-0 alert-div">
			<div id="alertPlaceholder"></div>
			@if (TempData["info"] != null)
			{
				<script type="text/javascript">
					window.onload = function () {
						var message = '@TempData["info"]';
						alert(message, 'info');
					};
				</script>
			}
			@if (TempData["success"] != null)
			{
				<script type="text/javascript">
					window.onload = function () {
						var message = '@TempData["success"]';
						alert(message, 'success');
					};
				</script>
			}
			@if (TempData["warning"] != null)
			{
				<script type="text/javascript">
					window.onload = function () {
						var message = '@TempData["warning"]';
						alert(message, 'warning');
					};
				</script>
			}
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
